<ion-view>
  <ion-nav-title></ion-nav-title>
  <ion-nav-bar></ion-nav-bar>
  <ion-header-bar></ion-header-bar>
  <ion-content>
    <div>
      <button class="button button-clear button-positive" ng-click="vm.previous()">previous</button>
      <button class="button button-clear button-positive" ng-click="vm.next()">next</button>
    </div>
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <div class="slide-center">
          <h2>¡ES GRATIS!</h2>
          <p>Encuentra de manera gratuita cientos de Avisos Clasificados en La Paz, Bolivia.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-center">
          <h2>¡SIN INTERMEDIARIOS</h2>
          <p>Ponte en contacto directo con el Anunciante de la oprtunidad que te interesa.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-center">
          <h2>¡FACIL Y SEGURO!</h2>
          <p>Contactae con nosotros o dirigete a nuestras oficinas. Estaremos felices de ayudarte</p>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div>
      <div class="text-center start-buttons">
        <button class="button button-positive">Registrate</button>
        <button class="button button-balanced" ng-click="vm.login()">Iniciar Sesion</button>
      </div>
    </div>
  </ion-content>
</ion-view>
