
<ion-view>
  <ion-nav-title>
    <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon" ng-click="vm.view.buttons.menuButton()"></button>
      <p class="title">Anuncios Qualia</p>
      <button class="button button-icon icon ion-search"></button>
    </div>
  </ion-nav-title>
  <ion-nav-bar></ion-nav-bar>
  <ion-content>
    <button class="button button-block button-positive" ng-click="vm.view.buttons.createAdd()">
      Crear mi anuncio
    </button>
    <ion-list  ng-repeat="category in vm.view.categories">
      <ion-item ng-click="vm.view.buttons.openCategory($index)" ng-class="category.class">
        <i ng-class="category.icon"></i>
        <span class="category-name">{{category.name}}</span>
        <i class="arrow-icon icon" ng-class="{'ion-ios-arrow-right': !category.status, 'ion-ios-arrow-down': category.status}"></i>
      </ion-item>
      <ion-item ng-if="category.status">
        <div class="row" ng-repeat="optionRow in category.options">
          <div class="button col col-50 category-options" ng-class="category.class" ng-repeat="optionCol in optionRow" ng-click="vm.view.buttons.goToAddsDetail(category.code, optionCol.id)">
            <i class="icon icon-options" ng-class="optionCol.icon"></i><br>
            {{optionCol.name}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
