/* Empty. Add your own CSS if you like */
.start_log {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.logo_init {
  max-width: 100%;
  margin: 25%;
}
.start-buttons {
  position: relative;
  bottom: 0;
}
.slide-center {
  text-align: center;
  margin: 10%;
}
.message-error {
  margin-top: 15px;
  text-align: center;
}
.arrow-icon {
  float: right;
}
.category-name {
  margin-left: 10%;
}
.category-options {
  margin: 1px;
}
.icon-options {
  color: #000000;
}
.category-red {
  background-color: #EA4335
}
.category-yellow {
  background-color: #FBBC05
}
.category-green {
  background-color: #34AB53
}
.category-blue {
  background-color: #4285F4
}
.footer-bar {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.button-footer-left {
  margin-right: 15px;
}
.button-footer-middle {
  margin: 0px 15px;
}
.button-footer-right {
  margin-left: 15px;
}
.image-detail {
  display: block;
  text-align: center;
}
.image-detail img {
  width: 50%;
}
.table-detail {
  width: 100%;
}
.table-first-detail {
  padding-left: 15px;
}
.table-second-detail {
  justify-content: flex-end;
  text-align: end;
  margin-right: 15px;
  padding-right: 15px;
}
.text-detail {
  font-weight: bold;
  font-size: 18px;
}
