/* Empty. Add your own CSS if you like */
.start_log {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.logo_init {
  max-width: 100%;
  margin: 25%;
}
.start-buttons {
  position: relative;
  bottom: 0;
}
.slide-center {
  text-align: center;
  margin: 10%;
}
.message-error {
  margin-top: 15px;
  text-align: center;
}
.arrow-icon {
  float: right;
}
.category-name {
  margin-left: 10%;
}
.category-options {
  margin: 3px 10px;
}
.icon-options {
  color: #000000;
}
.category-red {
  background-color: #EA4335
}
.category-yellow {
  background-color: #FBBC05
}
.category-green {
  background-color: #34AB53
}
.category-blue {
  background-color: #4285F4
}
